services:
  loki:
    image: grafana/loki:3.1.0
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml:ro
      - loki-data:/loki
    ports:
      - "3100:3100"
    networks:
      - reverse_proxy_network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.2.0
    env_file:
      - .env
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      - loki
    networks:
      - reverse_proxy_network
    restart: unless-stopped
  
  promtail:
    image: grafana/promtail:3.1.0
    command: -config.file=/etc/promtail/promtail-config.yaml
    volumes:
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - reverse_proxy_network
    depends_on:
      - loki
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - prometheus-data:/prometheus
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
    ports:
      - "9090:9090"
    restart: unless-stopped

volumes:
  loki-data:
  grafana-data:
  prometheus-data:

networks:
  reverse_proxy_network:
    external: true
